@import "../../scss/global/mixins.scss";
@import "../../scss/vendor/variables.scss";

.loading {
    margin: 0 auto;
}

.container {
    overflow: hidden;
    // touch-action: none;

    // @media (max-width: 768px) {
    //     max-width: 70%;
    // }
}

.todoList {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.todoContainer {
    overflow: hidden;
    min-height: 60px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;
    width: 90%;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}
.todoAction {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

    span {
        display: block;
        font-weight: 600;
        max-width: 30%;
        word-break: break-all;
        @include text-responsive(1.1rem, 1.0rem, 0.9rem, 0.7rem);
        text-align: center;
    }
}
.todoRightAction {
    left: 0;
    background: $color-red;
    justify-content: start;
    z-index: 1;
}
.todoLeftAction {
    right: 0;
    background: $color-blue;
    justify-content: end;
    z-index: 2;
}

.todoProcessing {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg;
    z-index: 10;
}

.todoBlock {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    background-color: $color-bg;
    z-index: 5;
    cursor: grab;
    transition: all .7s ease;
    max-height: fit-content;
    word-break: break-all;
    
}

// .todoBlock * {
//     touch-action: none;
// }

.todoHeader {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    @media (max-width: 768px) {
        margin-bottom: 5px;
    }
}

.todoMain {
    display: flex;
}

.todoFooter {
    display: flex;
}

.todoTime,
.todoAuthor {
    @include text-responsive();
    font-style: italic;
    color: $color-text-gray;
}

.todoTitle {
    @include text-responsive(1.1rem, 1.0rem, 0.9rem, 0.8rem);
    font-weight: 500;
    font-size: 1.2rem;
}

.todoTask {
    @include text-responsive(1.0rem, 0.9rem, 0.8rem, 0.7rem);
}