@import "../../../scss/vendor/variables.scss";
@import "../../../scss/global/mixins.scss";


.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editingSwitchBlock {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.textareaBlock {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.textarea {
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    width: 98%;
    resize: none;
    border: none;
    outline: none;
    box-shadow: none;
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    @include text-responsive(0.9rem,0.8rem,0.8rem,0.0.75rem)
}

.saveButton {
    padding: 5px 20px;
}

.error {
    @include text-responsive(0.9rem,0.8rem,0.8rem,0.0.75rem)
}