@mixin text-responsive ($max: 1rem, $second: 0.9rem, $third: 0.75rem, $min: 0.65rem){
    font-size: $max;

    @media (max-width: 1024px) {
        font-size: $second;
    }
    
    @media (max-width: 768px) {
        font-size: $third;
    }
    
    @media (max-width: 480px) {
        font-size: $min;
    }
}