@import '../vendor/variables.scss';

.button {
    border: none;
    border-radius: 5px;
    color: white;
    background: none;
    cursor: pointer;

    
    &--danger {
        @extend .button;
        background-color: $color-red;
        &:disabled {
            background: $color-red-light;
        }
    }
    &--primary {
        @extend .button;
        background-color: $color-blue;
        &:disabled {
            background: $color-blue-light;
        }
    }
}